<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="account-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :description %>
    <%= textarea f, :description %>
    <%= error_tag f, :description %>
  
    <%= label f, :balance %>
    <%= number_input f, :balance %>
    <%= error_tag f, :balance %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
